body {
    margin: auto;
    max-width: 85vw;
    font-family: 'Nunito', sans-serif;
}

* {
    text-align: center;
}

#command {
    font-weight: bold;
}

#processes {
    overflow:auto;
    max-height: 50vh;
}